{% extends 'base.html.twig' %}

{% block title %}Add Etudiant{% endblock %}

{% block body %}
{% if app.request.pathinfo starts with '/modEtudiant' %}
<h1>Modifier Etudiant</h1>
{% else %}
<h1>Ajouter Etudiant</h1>
{% endif %}
<div class="col-6 offset-3 bg-dark">
{{ form(f) }}
</div>
{% endblock %}
